{% set draftPermission = 'editpeerentrydrafts:' ~ entry.section.uid %}


{# Show existing drafts --------------------------------------------------------------------- #}

{% set query = craft.entries
    .draftOf(entry.canonical)
    .site('*')
    .unique()
    .preferSites([entry.site.handle])
    .orderBy('dateUpdated desc') %}

{% if entry.isDraft %}
    {% set query = query.id("not #{entry.id}") %}
{% endif %}

{% set drafts = query.all %}
{% if drafts %}

    {% set textOne = 'msg_draftwarningone'|t('work') %}
    {% set textMultiple = 'msg_draftwarningmultiple'|t('work') %}

    <div class="meta read-only warning">
        <p>{{ drafts|length == 1 ? textOne : textMultiple }}</p>
        <div class="flex flex-wrap">
            {% for draft in drafts %}
                {% set canEdit = (draft.creatorId == currentUser.id or currentUser.can(draftPermission)) %}
                {% if canEdit %}
                    {{ tag('a', {
                        class: ['btn', 'drafts-warning'],
                        title: draft.draftName,
                        href: "#{ draft.cpEditUrl }&draftId=#{ draft.draftId }",
                        text: "#{'Edit'|t('work')}: #{draft.draftName}"
                    }) }}
                {% else %}
                    {% set user = craft.users.id(draft.creatorId).one %}
                    {{ tag('button', {
                        type: 'button',
                        class: ['btn', 'drafts-warning', 'drafts-noteditable'],
                        title: draft.draftName ~ ' ' ~ (user ? user.fullName : 'n/a' ~ ' ') ~ draft.dateUpdated|date,
                        text: "#{draft.draftName}",
                        onclick:"compare('#{ cpUrl('work/compare', {
                            id: draft.id,
                            siteId: draft.siteId,
                            isDraft: draft.isDraft,
                            isProvisionalDraft: draft.isProvisionalDraft()
                        }) }')"
                    }) }}
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endif %}


{# Show existing provisional drafts --------------------------------------------------------------------- #}

{% set query = craft.entries
    .draftOf(entry.canonical)
    .provisionalDrafts(true)
    .id("not #{entry.id}")
    .site('*')
    .unique()
    .preferSites([entry.site.handle])
    .orderBy('dateUpdated desc') %}

{% set drafts = query.all %}
{% if drafts %}

    {% set textOne = 'msg_provisionaldraftwarningone'|t('work') %}
    {% set textMultiple = 'msg_provisionaldraftwarningmultiple'|t('work') %}

    <div class="meta read-only warning">
        <p>{{ drafts|length == 1 ? textOne : textMultiple }}</p>
        <div class="flex flex-wrap">
            {% for draft in drafts %}
                {% set user = craft.users.id(draft.creatorId).one %}
                {% if user %}
                    {{ tag('button', {
                        type: 'button',
                        class: ['btn', 'drafts-warning', 'drafts-noteditable'],
                        title: draft.draftName ~ ' ' ~ (user ? user.fullName : 'n/a' ~ ' ') ~ draft.dateUpdated|date,
                        text: "#{user.fullName} #{draft.dateUpdated|date}",
                        onclick:"compare('#{ cpUrl('work/compare', {
                            id: draft.id,
                            siteId: draft.siteId,
                            isDraft: draft.isDraft,
                            isProvisionalDraft: draft.isProvisionalDraft()
                        }) }')"
                    }) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endif %}

{# Compare opened draft #}
{% if not entry.isCanonical %}
    <div>
        <button type="button" class="btn compare-btn"
                onclick="compare('{{ cpUrl('work/compare', {
                    id: entry.id,
                    siteId: entry.siteId,
                    isDraft: entry.isDraft,
                    isProvisionalDraft: entry.isProvisionalDraft()
                }) }}')">
            {{ 'Compare with current'|t('work') }}
        </button>
    </div>
{% endif %}

{% js %}
// https://github.com/craftcms/cms/pull/8017
function compare(url) {
    var content = $.get(url, function(data) {
            var slideout = new Craft.Slideout(data, {
                containerAttributes: {class: 'compare-container'}
            });
        })
        .fail(function() {
            alert("Error");
        })
}
{% endjs %}

{% css %}
.compare-container {
    overflow-y: scroll;
}

.drafts-warning {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drafts-noteditable {
    background-color: #EBF2FA !important;
}


.field-diff {
    margin-bottom: 36px;
}

.compare-container > .field-diff {
    padding-top: 8px;
    border-top: 1px solid #cccccc;
}

.field-diff-level-2 {
    margin-left: 24px;
}

.field-diff-table {
    display: flex;

}

.field-diff-table div {
    margin-right: 4px;
    width: 50%;
}

.field-diff-block {
    margin-left: 24px;
}

.field-diff-blockname {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.field-diff .matrixblock > .titlebar {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.matrixblock > .titlebar.field-diff-new {
    color: green !important;
}

.matrixblock > .titlebar.field-diff-deleted {
    color: red !important;
}

.transfer-form, .transfer-history {
    margin-bottom: 24px;
}

{% endcss %}
