{# Tailwind purge protect: bg-primary bg-secondary #}
{% set entry = block.target.one %}
{% if entry %}
    <a href="{{ entry.url }}"
       class="{{ display in ['left','right'] ? 'w-64 text-center block' : 'inline-block' }} my-3 py-2 px-4 bg-{{ block.color }} text-white hover:bg-{{ block.color }}-dark hover:text-white  transition ease-in-out duration-300">{{ block.caption ?: entry.title }}</a>
{% endif %}
