{% set draftPermission = 'editpeerentrydrafts:' ~ entry.section.uid %}

{# Show existing drafts --------------------------------------------------------------------- #}

{% set query = craft.entries
    .draftOf(entry.canonical)
    .site('*')
    .unique()
    .preferSites([entry.site.handle])
    .orderBy('dateUpdated desc') %}

{% if entry.isDraft %}
    {% set query = query.id("not #{entry.id}") %}
{% endif %}

{% set drafts = query.all %}
{% if drafts %}

    {% set textOne = 'msg_draftwarningone'|t('drafts') %}
    {% set textMultiple = 'msg_draftwarningmultiple'|t('drafts') %}

    <div class="meta read-only warning">
        <p>{{ drafts|length == 1 ? textOne : textMultiple }}</p>
        <div class="flex flex-wrap">
            {% for draft in drafts %}
                {% set canEdit = (draft.creatorId == currentUser.id or currentUser.can(draftPermission)) %}
                {% if canEdit %}
                    {{ tag('a', {
                        class: ['btn', 'drafts-warning'],
                        title: draft.draftName,
                        href: "#{ draft.cpEditUrl }&draftId=#{ draft.draftId }",
                        text: "#{'Edit'|t('drafts')}: #{draft.draftName}"
                    }) }}
                {% else %}
                    {% set user = craft.users.id(draft.creatorId).one %}
                    {{ tag('span', {
                        class: ['btn', 'drafts-warning', 'drafts-noteditable'],
                        title: draft.draftName ~ ' ' ~ (user ? user.fullName : 'n/a' ~ ' ') ~ draft.dateUpdated|date,
                        href: "#{ draft.cpEditUrl }&draftId=#{ draft.draftId }",
                        text: "#{draft.draftName}"
                    }) }}
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endif %}


{# Show existing provisional drafts --------------------------------------------------------------------- #}

{% set query = craft.entries
    .draftOf(entry.canonical)
    .provisionalDrafts(true)
    .id("not #{entry.id}")
    .site('*')
    .unique()
    .preferSites([entry.site.handle])
    .orderBy('dateUpdated desc') %}

{% set drafts = query.all %}
{% if drafts %}

    {% set textOne = 'msg_provisionaldraftwarningone'|t('drafts') %}
    {% set textMultiple = 'msg_provisionaldraftwarningmultiple'|t('drafts') %}

    <div class="meta read-only warning">
        <p>{{ drafts|length == 1 ? textOne : textMultiple }}</p>
        <div class="flex flex-wrap">
            {% for draft in drafts %}
                {% set user = craft.users.id(draft.creatorId).one %}
                {% if user %}
                    {{ tag('span', {
                        class: ['btn', 'drafts-warning', 'drafts-noteditable'],
                        title: draft.draftName ~ ' ' ~ (user ? user.fullName : 'n/a' ~ ' ') ~ draft.dateUpdated|date,
                        href: "#{ draft.cpEditUrl }&draftId=#{ draft.draftId }",
                        text: "#{user.fullName} #{draft.dateUpdated|date}"
                    }) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endif %}

{% if not entry.isCanonical %}
    <div>
        <button type="button" class="btn"
                onclick="compare('{{ cpUrl('drafts/compare', {
                    id: entry.id,
                    siteId: entry.siteId,
                    isDraft: entry.isDraft,
                    isProvisionalDraft: entry.isProvisionalDraft()
                }) }}')">
            Compare
        </button>
    </div>
{% endif %}

{% js %}
// https://github.com/craftcms/cms/pull/8017
function compare(url) {
    var content = $.get(url, function(data) {
            var slideout = new Craft.Slideout(data, {
                containerAttributes: {class: 'compare-container'}
            });
        })
        .fail(function() {
            alert("error");
        })
}
{% endjs %}

{% css %}
.drafts-warning {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drafts-noteditable {
    background-color: #EBF2FA !important;
}

.field-diff {
    margin-bottom: 36px;
}

.field-diff-level-2 {
    margin-left: 24px;
}

.field-diff-blockname {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
}

.compare-container {
    overflow-y: scroll;
}

.field-diff-new {
    color: green;
}
.field-diff-deleted {
    color: red;
}


{% endcss %}
