{% set entry = context['entry'] %}
{% set isCurrent = context['isCurrent'] %}
{% set isDraft = context['isDraft'] %}
{% set isProvisionalDraft = context['isProvisionalDraft'] %}


{# Show existing drafts --------------------------------------------------------------------- #}

{% set query = craft.entries.draftOf(entry.canonical).site('*').unique().preferSites([entry.site.handle]) %}

{% if entry.isDraft %}
    {% set query = query.id("not #{entry.id}") %}
{% endif %}

{% set drafts = query.all %}
{% if drafts %}

    {% set textOne = 'msg_draftwarningone'|t('drafts') %}
    {% set textMultiple = 'msg_draftwarningmultiple'|t('drafts') %}

    <div id="drafts-warning" class="meta read-only warning">
        <p>{{ drafts|length == 1 ? textOne : textMultiple }}</p>
        <div class="flex flex-wrap">
            {% for draft in drafts %}
                {{ tag('a', {
                    class: ['btn'],
                    title: draft.draftName,
                    style: 'max-width:300px;overflow:hidden;text-overflow: ellipsis;',
                    href:"#{ draft.cpEditUrl }&draftId=#{ draft.draftId }",
                    text: 'Edit'|t('drafts') ~ ': ' ~ draft.draftName,
                }) }}
            {% endfor %}
        </div>
    </div>

{% endif %}


{# Show existing provisional drafts --------------------------------------------------------------------- #}

{% set query = craft.entries.draftOf(entry.canonical).provisionalDrafts(true).id("not #{entry.id}").site('*').unique().preferSites([entry.site.handle]) %}

{% set drafts = query.all %}
{% if drafts %}

    {% set textOne = 'msg_provisionaldraftwarningone'|t('drafts') %}
    {% set textMultiple = 'msg_provisionaldraftwarningmultiple'|t('drafts') %}

    <div id="provisional-drafts-warning" class="meta read-only warning">
        <p>{{ drafts|length == 1 ? textOne : textMultiple }}</p>
        <div class="flex flex-wrap">
            {% for draft in drafts %}
                {% set user = craft.users.id(draft.creatorId).one %}
                {% if user %}
                    <div>
                        {{ user.fullName }}, {{ draft.dateUpdated|date }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endif %}

<div class="meta read-only warning" id="draft-new" style="display:none">
    {{ 'msg_newdraft'|t('drafts') }}: <b><span id="draft-name"></span></b>
</div>

